.Register{
    background-color: #B8B8FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 70px auto 0 auto;
    border-radius: 10px;
    margin-bottom: 500px;
}

.Register button{
    background-color: #F8F7FF;
    border: 0;
    color: #9381FF;
}
.Register input{
    display: inline-block;
    border: 1px solid  #9381FF;
    border-radius: 5px;
}

.password button{
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.password input{
    border: 0px solid black;
    border-radius: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.password{
    display: flex;
    align-items: stretch;
    border: 1px solid  #9381FF;
    border-radius: 5px;
}

.Register img{
    height: 14px;
}

