.Patterns{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    
    justify-content: center;
    margin-bottom: 50px;
}

.Patterns .PatternCard{
    background-color: #B8B8FF;
    color:#F8F7FF;
}